
@model TravelInn.MVC.DevExpressWeb.Responsive.HelperClasses.FirmasTabData

@{
    ViewBag.Title = "Cari ve Odemeler";
}

<style type="text/css">
    /*BUNLARI SONRA CUSTOM CSS E AL*/
    .marginTop5px {
        margin-top: 5px;
    }


    /*Theme Generator ile uretilenler oraya save edilmedi
    Buraya direk kopyalandi*/

    .dxgvHeader_Metropolis {
        background-color: #f0f0f0;
        padding: 2px 4px 2px;
    }

    .dxgvControl_Metropolis,
    .dxgvDisabled_Metropolis {
        font: 11px 'Segoe UI',Helvetica,'Droid Sans',Tahoma,Geneva,sans-serif;
    }

        .dxgvControl_Metropolis a {
            color: black;
        }

    .dxgvEditFormDisplayRow_Metropolis td.dxgv,
    .dxgvDetailCell_Metropolis td.dxgv,
    .dxgvDataRow_Metropolis td.dxgv,
    .dxgvDetailRow_Metropolis.dxgvADR td.dxgvAIC {
        padding: 2px 4px 2px;
    }
</style>

<script type="text/javascript">
        'use strict';

    var gridCari_BeginCallback = function (s, e) {

        if (e.command === 'STARTEDIT') {
            AdjustEnterKeyUpdate(s, e);
        }

            e.customArgs["frmId"] = @Request.Params["frmId"];
        }

    var gridOdeme_BeginCallback = function (s, e) {
        if (e.command === 'STARTEDIT') {
            AdjustEnterKeyUpdate(s, e);
        }

            e.customArgs["frmId"] = @Request.Params["frmId"];
    }

    var OnExport = function(s, e) {
        window.open(
            '/CariVeOdemeler/Export?frmId=' + @Request.Params["frmId"],
            '_blank'
        );
    }

    var TabFirmalarTabClick = function(s, e) {
        console.log(s);
    }

    var SatisSorumlusuValueChanged = function (s, e) {

        $.getJSON('/SatisSorumlulari/GetByKey/' + s.GetValue()).done(function (data) {

            if (data) {
                SatisSorumlusuTelefon.SetValue(data.Telefon);
                SatisSorumlusuAdres.SetValue(data.Adres);
                SatisSorumlusuEmail.SetValue(data.Email);
            };
        });
    }

    var MusteriValueChanged = function (s, e) {

            $.getJSON('/Musteriler/GetByKey/' + s.GetValue()).done(function (data) {
                console.log(data);
                if (data) {
                    MusteriTelefon.SetValue(data.Telefon);
                    MusteriAdres.SetValue(data.Adres);
                    MusteriEmail.SetValue(data.Email);
                    Uyruk_Idstr.SetValue(data.UyrukId);
                };
            });
    }

    var TurValueChanged = function (s, e) {

            $.getJSON('/Turlar/GetByKey/' + s.GetValue()).done(function (data) {

                if (data) {
                    TurTelefon.SetValue(data.Telefon);
                    TurAdres.SetValue(data.Adres);
                    TurEmail.SetValue(data.Email);
                };
            });
    }

    var OtelValueChanged = function (s, e) {

            $.getJSON('/Oteller/GetByKey/' + s.GetValue()).done(function (data) {

                if (data) {
                    OtelTelefon.SetValue(data.Telefon);
                    OtelAdres.SetValue(data.Adres);
                    OtelEmail.SetValue(data.Email);
                };
            });
        }

    var onGridCariEndCallback = function(s, e) {
            if (s.IsEditing()) {
                GridViewOdeme.CancelEdit();
            };
        }

    var onGridOdemeEndCallback = function (s, e) {
            if (s.IsEditing()) {
                GridViewCari.CancelEdit();
            };
        }

    var EmailButtonClick = function (s, e, g) {

        if (e.buttonID == 'btnEmail') {
            var key = s.GetRowKey(e.visibleIndex);
            window.open(g + '/' + key, '_blank');
        };
    }

</script>

<script type="text/javascript">

    'use strict';

    var rootFolder = '';
    var id = 0;
    var aciklama = '';
    var voucherNo = '';

    DevExpress.ui.dxOverlay.baseZIndex(20000);


    //onemli not
    //upload ya da remove dan sonra grid cancelEdit yapilmali.
    //cunku Confirmed model icinde henuz olmadigindan eski haline geri donuyor.
    //Confirmed model icine alininca bu degisebilir.

    var OnFileUploaded = function(s, e) {

        console.log(e);
        console.log(rootFolder + '/' + e.fileName);

        $.post('@Url.Action("ConfirmationUpload", "CariVeOdemeler")', { path: rootFolder + '/' + e.fileName, id: id})
            .done(function (data) {
                console.log(data);
                if (data.MessageList[0]) {
                    if (data.MessageList[0] === 'confirmed') {
                        var res = DevExpress.ui.dialog.alert(e.fileName + " eklendi", 'Confirmed', true);
                        res.done(function() {
                            PopupAddFileManager.Hide();
                            GridViewCari.CancelEdit()
                        })
                    }
                }
            })
            .fail(function() {
                console.log('failed');
            })
    }

    var OnItemDeleted = function(s, e) {

        console.log(e);
        console.log(rootFolder + '/' + e.name);

        $.post('@Url.Action("ConfirmationRemove", "CariVeOdemeler")',{ path: rootFolder + '/' + e.name, id: id })
            .done(function(data) {
                console.log(data);
                if (data.MessageList[0]) {
                    if (data.MessageList[0] === 'unconfirmed') {
                        var res = DevExpress.ui.dialog.alert(" Tum confirm emailleri silindi", 'Unconfirmed!', true);
                        res.done(function() {
                            PopupAddFileManager.Hide();
                            GridViewCari.CancelEdit()
                        })
                    }
                }
            })
            .fail(function() {
                console.log('failed');
            });
    }

    var InitiateFileManager = function (i) {

        GridViewCari.GetRowValues(
            i,
            'Id;FirmaId;VoucherNo;Aciklama',
            function (value)
            {
                id = value[0];
                rootFolder = '~/Content/CariConfirmations/' + value[1] + '/' + value[0];
                voucherNo = value[2];
                aciklama = value[3];

                console.log(value);

                PopupAddFileManager.PerformCallback({ rootFolder: rootFolder });

                var aciklamaT = 'Voucher No:' + voucherNo + ' / ' + aciklama;
                PopupAddFileManager.SetHeaderText(aciklamaT.length > 60 ? aciklamaT.substring(0, 60) + '...' : aciklamaT);

            });
    }

</script>

@Html.DevExpress().TabControl(
        settings =>
        {
            settings.Name = "tabFirmalar";
            settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
            settings.EnableTabScrolling = true; // genisligin devreye girmesini saglar
            settings.TabAlign = TabAlign.Justify; // sag ve solda ok cikarir

        }).Bind(Model).GetHtml()

@Html.DevExpress().Splitter(settings =>
{
    settings.Name = "SplitterCariOdeme";
    settings.AllowResize = true;

    settings.Panes.Add(pane =>
    {
        //pane.AutoHeight = true;
        pane.Size = System.Web.UI.WebControls.Unit.Pixel(1060);

        pane.Panes.Add(paneSub =>
        {
            paneSub.AutoHeight = true;

            paneSub.SetContent(() =>
            {
                ViewContext.Writer.Write("<h4 id='cariTitle' style='color: #757575; text-align:center;'>" + ViewBag.Firma + " 'Cari'</h4>");

                using (Html.BeginForm())
                {
                    ViewContext.Writer.Write(@Html.Action("GridViewPartialCari"));
                }

                Html.DevExpress().Button(s =>
                {
                    s.Name = "AddCiro";
                    s.Text = "+";
                    s.ControlStyle.CssClass = "rndBtn marginTop5px";
                    s.Width = 25;
                    s.ClientSideEvents.Click = "function(s, e){GridViewCari.AddNewRow()}";
                }).Render();
            });
        });

        pane.Panes.Add(paneSub =>
        {
            paneSub.AutoHeight = true;

            paneSub.SetContent(() =>
            {
                ViewContext.Writer.Write(@Html.Action("GridViewPartialBakiye", "Bakiye", new {frmId = @Request.Params["frmId"] }));
            });
        });

    });

    settings.Panes.Add(pane =>
    {
        pane.AutoHeight = true;
        //pane.Size = System.Web.UI.WebControls.Unit.Pixel(850);
        pane.SetContent(() =>
        {
            ViewContext.Writer.Write("<h4 id='odemeTitle' style='color: #757575; text-align:center;'>" + ViewBag.Firma + " 'Odeme'</h4>");

            ViewContext.Writer.Write(@Html.Action("GridViewPartialOdeme"));

            Html.DevExpress().Button(s =>
            {
                s.Name = "AddOdeme";
                s.Text = "+";
                s.ControlStyle.CssClass = "rndBtn marginTop5px";
                s.Width = 25;
                s.ClientSideEvents.Click = "function(s, e){GridViewOdeme.AddNewRow()}";
            }).Render();
        });
    });

}).GetHtml()


@*FileManager*@
<form>
    @Html.DevExpress().PopupControl(
        settings =>
        {
            settings.Name = "PopupAddFileManager";

            settings.CallbackRouteValues = new { Controller = "CariVeOdemeler", Action = "FileManagerCariConfirmationPartial"};
            settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
            settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
            settings.HeaderText = "FirmaAdi / Musteri / CariAciklama";
            settings.Modal = true;

            settings.ClientSideEvents.EndCallback = "function (s,e) { s.Show();}";

        }).GetHtml()
</form>
@*..... File Manager*@
